*_generation_script*
*_inst.vhd
*.bak
*.cmp
*.done
*.eqn
*.hex
*.html
*.jdi
*.jpg
# *.mif
*.pin
*.pof
*.ptf.*
*.qar
*.qarlog
*.qws
*.rpt
*.smsg
# *.sof
*.sopc_builder
*.summary

*/db/
db/
*/incremental_db/
incremental_db/
greybox_tmp/
*/greybox_tmp/
